#resume {
  background-color: #ffe6e6;
  
}
.resume li{
  border: 1px solid #99ffcc;
  padding: 30px;
}

.resume h3{ 
  background-color: #99ffcc;
	
  }  
  
.resume body{
  color: #3399ff;
}

.resume h2{
  color: #99ff66;
}
